<% include header.ejs %>
<div id="confirm-pass">
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>请确认旧密码</legend>
            <div class="control-group">
                <label class="control-label" for="password">旧密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password"></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">新密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password"></div>
            </div>
            <div class=" safety clearfix">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">确定密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password"></div>
            </div>
            <!--<div class="form-actions">-->
            <div class="action-btn">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
            <!--</div>-->
        </fieldset>
    </form>
</div>
<% include footer.ejs %>