<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
<div class="error" style="background:url(/images/error-s.jpg) repeat;"  >
    <img src="/images/error.png" style="width:100%;height:100%;">
   <!--<h2 style="text-align:center;font-size:36px;padding-bottom:20px;border-bottom:rgb(175,188,197) 3px solid ">404 Not Found</h2>-->
    <!--<p style="text-align:center;font-size:30px; ">很抱歉，你访问的页面不存在</p>-->
</div>
