
<footer>
    <p>
        <a href="https://github.com/kevinfuture" target="_blank">github</a>
        <a href="http://www.cnblogs.com/kevinfuture" target="_blank">博客园</a>
    </p>
</footer>
</div>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>