<% include header.ejs %>
<% if(!user) { %>
<div class="hero-unit">
    <h1>欢迎来到 Kevin's blog</h1>
    <p>Kevin's blog是一个基于 Node.js+NoSql 的博客系统。</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>
<% } else { %>
<% include Content.ejs %>
<% } %>
<% include footer.ejs %>