<% include header.ejs %>
<div id="modifySec" class="clearfix">
    <form class="form-horizontal left-main l" method="post">
        <fieldset>
            <legend>请确认新密码</legend>
            <div class="control-group">
                <label class="control-label" for="username">新密码</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password" name="password"></div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password-repeat">重复输入口令</label>
                <div class="controls">
                    <input type="password" class="input-xlarge" id="password-repeat" name="password-repeat"></div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary sure">提交</button>
            </div>
        </fieldset>
    </form>
    <div class="right-inner l">
        <div class="widget-list">
            <div class="media">
                <a href="/avatar" class="fn-posi-re user-infor-head">
                    <img id="J-user-infor-head" class="media-object img-rounded" src="/images/nopic.jpg" />
                    <span class="user-infor-replace fn-posi-ab">更换头像</span>
                </a>
                <div class="user-infor-sign">
                    <h4 class="user-infor-name">
                        <span class="pull-right sidebar-message" title="消息中心"><a href="/message"><i class="icon-envelope fn-mt3"></i></a></span>
                        <a href="/user/xyx"><i class="theCurrentName">xyx</i></a>
                    </h4>
                    <p class="theCurrentSign">这家伙很懒，还没有签名</p>
                    <p>粉丝：<span class="badge badge-important">0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微博：<a href="/mine"><span class="badge badge-info" id="J-userInfor-topicCount">1</span></a></p>
                    <p>金币：<span class="badge">41</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-heart"></i> 我关注的人<span>(0)</span></h5>

        </div>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-fire"></i> 最热话题 | Hot</h5>
            <div class="media-body">
                <ul class="widget-category">

                </ul>
            </div>
        </div>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-star"></i> 微博之星 | Star</h5>

            <div class="list-users">
                <ul class="clearfix">


                    <li>
                        <a href='/user/xyx' title="xyx， 1个微博"><img class="media-object img-rounded" src="/images/nopic.jpg" /></a>
                    </li>

                </ul>
            </div>

        </div>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-leaf"></i> 最新加入 | New</h5>

            <div class="list-users">
                <ul class="clearfix">


                    <li>
                        <a href='/user/xyx' title="xyx"><img class="media-object" src="/images/nopic.jpg" />
                            <span>xyx</span></a>
                    </li>

                </ul>
            </div>

        </div>
        <!--<div class="widget-list sidebar-login">-->
        <!--<p>请登录以发表信息。<p>-->
        <!--<form method="post" class="form-signin" action="/login">-->
        <!--<input type="text" placeholder="用户名或Email" name="username" class="input-block-level">-->
        <!--<input type="password" placeholder="密码" name="password" class="input-block-level">-->
        <!--<label class="checkbox">-->
        <!--<input type="checkbox" value="remember-me"> 记住我-->
        <!--</label>-->
        <!--<label>-->
        <!--<button type="submit" class="btn btn-primary">登 录</button>-->
        <!--</label>-->
        <!--<input type="button" onclick="location.href='/reg'" value="注册一个账号" class="btn">-->
        <!--</form>-->
        <!--</div>-->


        <!--<div class="widget-list">-->
        <!--<h5 class="widget-head"><i class="icon-fire"></i> 最热话题 | Hot</h5>-->
        <!--<div class="media-body">-->
        <!--<ul class="widget-category">-->

        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="widget-list">-->
        <!--<h5 class="widget-head"><i class="icon-star"></i> 微博之星 | Star</h5>-->

        <!--<div class="list-users">-->
        <!--<ul class="clearfix">-->


        <!--<li>-->
        <!--<a href='/user/xyx' title="xyx， 1个微博"><img class="media-object img-rounded" src="/images/nopic.jpg" /></a>-->
        <!--</li>-->

        <!--</ul>-->
        <!--</div>-->

        <!--</div>-->
        <!--<div class="widget-list">-->
        <!--<h5 class="widget-head"><i class="icon-leaf"></i> 最新加入 | New</h5>-->

        <!--<div class="list-users">-->
        <!--<ul class="clearfix">-->


        <!--<li>-->
        <!--<a href='/user/xyx' title="xyx"><img class="media-object" src="/images/nopic.jpg" />-->
        <!--<span>xyx</span></a>-->
        <!--</li>-->

        <!--</ul>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
    </div>
</div>

<% include footer.ejs %>