<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="refresh"content="3;url=/login">
    <title>您已经重新设置了密码，请重新登录</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">

    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Kevin's blog</a>
            <div class="nav-collapse">
                <ul class="nav">

                </ul>
            </div>
        </div>
    </div>
</div>
<div id="container" class="container">
    <div class="item">
        <img src="../images/slide-03.jpg" alt="">
        <!--<div class="container">-->
        <!--<div class="carousel-caption">-->
        <!--<h1>One more for good measure.</h1>-->
        <!--<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
        <!--<a class="btn btn-large btn-primary" href="#">Browse gallery</a>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div>
        正在跳转，如果不能跳转请点击这里;
        <li><a href="/login">登入</a></li>
    </div>
<% include footer.ejs %>