@charset "utf-8";
/*初始化*/

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,legend{ margin:0;padding:0;}
body{background:#fff;color:#333;font-size:14px; font-family: Arial, sans-serif;}
ul,ol,li{list-style-type:none;}
img,fieldset{border:0 ;}
legend{display:none;}
select,input,img,select{ vertical-align:middle;}
a{text-decoration:none;color:#333;}

.l{float:left}
.r{float:right;}

.clearfix:after {content:"";display:block;clear: both;}
.clearfix{zoom:1;}
/*index页面*/
.index .login{position:absolute;right:140px;top:10px;z-index:1031;}
.index .login a{padding-left:20px;}

.index .carousel{background:rgba(0,0,0,.4);}
.index .carousel img{height:500px;}

.index  .carousel-control {  height: 80px; font-size: 120px; text-shadow: 0 1px 1px rgba(0,0,0,.4); background-color: transparent; border: 0;z-index: 10;}
.index  .carousel img{height:500px;}
/*enter-index页面*/
.enter-index-header{  background:url(../images/top.jpg); }
.enter-index-header .login{position:absolute;right:40px;top:10px;z-index:1031;}
.enter-index-header .login a{padding-left:20px;}
.enter-index-header .content{width:1000px;margin:0 auto;padding-top:100px;}
.enter-index-header nav ul{padding-top:30px;padding-left:20px;}
.enter-index-header nav li{float:left;padding:10px 30px;font-size:16px;font-family:'microsoft yahei';}
.enter-index-header nav a {color:#555;}
#enter-index{padding-top:20px; background:rgb(199,203,189) url(../images/top.jpg) no-repeat;background-position:0 -203px; }
.wrapper{width:1000px;margin:0 auto;}
#enter-index .main-banner{width:300px;height:200px;}
#enter-index .main-content{width:700px;}
#enter-index .main-content h2 {margin-top:12px; font-size: 18px;font-weight: normal; line-height: normal;}
#enter-index .main-content h2 a{color: #6a6352;}
#enter-index .main-content h2 a:hover{text-decoration:underline;}
#enter-index .main-content p {margin-top:12px;color: #494949;line-height: 1.528; font-family: Arial,Helvetica,sans-serif; font-size: 14px;}
#enter-index .main-content .con-msg {margin-top:2px;color: #666; font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height:1.4;}
#enter-index .main-content .con-msg a{margin:0 4px;color: #666;}
#enter-index .main-content .con-msg a:hover{text-decoration: underline;}
#enter-index .page{padding-top:20px;font-size:12px;}
#enter-index .page a{color:#666;}
#enter-index .page a:hover{text-decoration: underline;}
#enter-index .copy-right{padding:40px 0 30px 0;text-align: center;}

/*登陆页*/
/*.alert-error{margin-top:60px;}*/
#infocue{padding-top:58px;}
