<% include header.ejs %>
<div id="enter-index">
    <div class="wrapper">
        <div class="clearfix">
            <div class="l main-banner"></div>
            <div class="l main-content">
                <div class="item">
                    <h2><a href="javascript;;">使用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡出现的无法加载mod_jk.conf文件的问/a></h2>
                    <p>摘要: 用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡的如果出现了问题，可以用cmd cd到Apache安装文件的bin下，运行httpd文件，错误信息就会打印出来。我这里出现的问题是 Include conf/mod_jk.conf无法加载该配置文件（英文翻译过来就是..阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>)<a href="javascript:;">编辑</a> </p>
                </div>
                <div class="item">
                    <h2><a href="javascript;;">使用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡出现的无法加载mod_jk.conf文件的问/a></h2>
                    <p>摘要: 用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡的如果出现了问题，可以用cmd cd到Apache安装文件的bin下，运行httpd文件，错误信息就会打印出来。我这里出现的问题是 Include conf/mod_jk.conf无法加载该配置文件（英文翻译过来就是..阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>) <a href="javascript:;">编辑</a></p>
                </div>
                <div class="item">
                    <h2><a href="javascript;;">使用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡出现的无法加载mod_jk.conf文件的问/a></h2>
                    <p>摘要: 用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡的如果出现了问题，可以用cmd cd到Apache安装文件的bin下，运行httpd文件，错误信息就会打印出来。我这里出现的问题是 Include conf/mod_jk.conf无法加载该配置文件（英文翻译过来就是..阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>) <a href="javascript:;">编辑</a></p>
                </div>
                <div class="item">
                    <h2><a href="javascript;;">使用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡出现的无法加载mod_jk.conf文件的问/a></h2>
                    <p>摘要: 用Apache + mod_jk + tomcat来实现tomcat集群的负载均衡的如果出现了问题，可以用cmd cd到Apache安装文件的bin下，运行httpd文件，错误信息就会打印出来。我这里出现的问题是 Include conf/mod_jk.conf无法加载该配置文件（英文翻译过来就是..阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>) <a href="javascript:;">编辑</a></p>
                </div>
                <div class="item">
                    <h2><a href="javascript;;">多线--静态同步函数的锁是class（转载）</a></h2>
                    <p>摘要: /**如果同步函数被静态修饰，那么他的锁就是该方法所在类的字节码文件对象 类名.class静态进内存时，内存中没有本类对象，但是一定有该类对应的字节码文件对象。该对象就是：类class 该对象的类型是class**/class Ticket implements Runnable{	priva...阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>) <a href="javascript:;">编辑</a></p>
                </div>
                <div class="item">
                    <h2><a href="javascript;;">多线--静态同步函数的锁是class（转载）</a></h2>
                    <p>摘要: /**如果同步函数被静态修饰，那么他的锁就是该方法所在类的字节码文件对象 类名.class静态进内存时，内存中没有本类对象，但是一定有该类对应的字节码文件对象。该对象就是：类class 该对象的类型是class**/class Ticket implements Runnable{	priva...阅读全文</p>
                    <p class="con-msg">posted @ 2015-02-12 15:37 kevinfuture 阅读(<span>3</span>) 评论(<span>0</span>) <a href="javascript:;">编辑</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="page r"><a href="javascript:;">下一/a></div>
        </div>
        <div class="clearfix copy-right">
            Copyright ©2015 kevinfuture
        </div>
    </div>


<% include footer.ejs %>
