<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="enter-index">
    <div class="login">
        <a href="javascript:;">登录</a>
        <a href="javascript:;">注册</a>
    </div>
    <div class="content">
        <h1><%= title %></h1>
        <nav>
            <ul class="clearfix">
                <li><a hrhef="javascript:;">首页</a></li>
                <li><a href="javascript:;">新随笔</a></li>
                <li><a href="javascript:;">联系</a></li>
                <li><a href="javascript:;">订阅</a></li>
                <li><a href="javascript:;">管理</a></li>
            </ul>
        </nav>
    </div>

</div>


</body>
</html>
