<!DOCTYPE html>
<html>
<head>
    <title><%= essay.username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" charset="utf-8" src="/javascripts/jquery.js"> </script>
    <script type="text/javascript">
        $(document).ready(function(){
            var getcontent = $('#essaycontent');
            var getessay = $('#showessay');
            getessay.html(getcontent.val());
        })
    </script>
</head>
<body>
<h1><%= essay.username %></h1>
<p>标题<%= essay.caption %></p>
<input type="hidden" id="essaycontent" name="essaycontent" value="<%=essay.content%>"/>
<span>内容：</span>
<p id="showessay"></p   >
</body>
</html>
